.about-us {
  &__title {
    padding-top: 41px;
    padding-bottom: 60px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 117.7%;
    text-transform: uppercase;

    color: #000000;
  }

  &__text {
    padding: 0 48px 101px 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    color: #000000;
  }
}